.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: rgb(251, 165, 63);
  background: radial-gradient(
    circle,
    rgba(251, 165, 63, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-size: 25px;
}

.password {
  -webkit-text-security: disc;
}

.sign-reg {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 3rem;
  gap: 0.4rem;
}

.warning {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.3rem;
}
